/* Google Maps */
.em-location-map-container img.em-location-static-map {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
}

.em-location-map-container.em-map-static-load {
  position: relative;
}

.em-location-map-container.em-map-static-load:hover {
  cursor: pointer;
}

.em-location-map-container .em-map-overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #333;
  cursor: pointer;
}

.em-location-map-container:hover .em-map-overlay {
  opacity: 0.75;
}

.em-location-map-container .em-map-overlay div {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Booking Form */
.em-booking-form span.form-tip {
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
  padding-bottom: 2px;
}

.em-booking-form p.input-checkbox label {
  display: inline-block;
  width: 100%;
}

.input-group .em-date-range input {
  width: 100px;
}

.input-group .em-time-range input {
  width: 80px;
}

/* Gateway */
div.em-gateway-buttons .em-gateway-button-image {
  margin-bottom: 15px;
}

.em-payment-gateway-form-info {
  margin-bottom: 35px;
}

/* Manual Booking Form */
.em-manual-booking .em-booking-form-details {
  width: 100%;
}
.em-manual-booking .em.em-event-booking-form .em-booking-section.em-booking-form-tickets {
  padding: 10px 30px;
}
.em-manual-booking .em.em-event-booking-form .em-booking-section.em-booking-section-manual {
  padding-bottom: 0;
}
.em-manual-booking .em.em-event-booking-form h3.em-booking-section-title {
  background: none;
  border-width: 0 0 1px 0;
}
.em-manual-booking .em-booking-buttons {
  padding-top: 20px;
}

/* Coupon Field */
.em-bookings-form-coupon .em-coupon-code-fields {
  display: grid;
  grid-template-columns: auto max-content;
  grid-auto-columns: 1fr;
  grid-gap: 10px;
}

.em.em-event-booking-form .em-booking-form-section-confirm .em-booking-form-section-coupons {
  padding-bottom: 0;
}

/* Cart CSS */
.em-cart-widget-content .em-cart-widget-total {
  border-top: 1px solid #efefef;
  margin-top: 5px;
}

.em-cart-actions {
  text-align: right;
  margin: 10px 0px;
}

/* Checkout Form CSS */
.em-cart-table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}
.em-cart-table th, .em-cart-table td {
  border: 1px solid #efefef;
  padding: 10px;
}
.em-cart-table th {
  background-color: #eee;
  text-align: center;
}
.em-cart-table td {
  background-color: #fff;
}
.em-cart-table th.em-cart-title-event {
  text-align: left;
}
.em-cart-table tbody.em-cart-totals th {
  text-align: right;
  padding-right: 20px;
}
.em-cart-table .em-cart-table-details-actions {
  display: inline-block;
  margin: 10px 10px 10px 0;
}
.em-cart-table .em-cart-table-event-details {
  display: none;
}
.em-cart-table .em-cart-table-event-details .em-cart-table-ticket {
  font-weight: bold;
}
.em-cart-table .em-cart-table-event-title {
  font-weight: bold;
}
.em-cart-table .em-cart-table-spaces {
  text-align: center;
}
.em-cart-table .em-cart-table-price, .em-cart-table tbody.em-cart-totals td {
  text-align: right;
}
.em-cart-table .em-cart-info .em-cart-info-title {
  display: inline-block;
  text-decoration: underline;
  margin: 10px 0;
}
.em-cart-table .em-cart-info .em-cart-info-booking-title {
  display: inline-block;
  font-weight: bold;
  margin: 15px 0 10px;
}
.em-cart-table .em-cart-info .em-cart-info-values {
  display: grid;
  grid-template-columns: max-content minmax(300px, 2fr);
  grid-gap: 5px;
}
.em-cart-table .em-cart-info .em-cart-info-values .em-cart-info-label {
  font-style: italic;
  padding: 0 15px 0 5px;
}

.rtl .em-cart-info-label {
  padding: 0 5px 0 15px;
}

/*# sourceMappingURL=events-manager-pro.css.map */
